<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ style('css/login') }}
    <title>Login</title>
    <script type="text/javascript" src="js/jquery.js"></script>
    <link rel="icon" type="image/png" href="./img/icon.png" />
</head>
<body>
<span id="main">
    <div class="body"></div>
        <div class="grad"></div>
        <div class="header">
            <div>Online<span>Player</span></div>
        </div>
        <br>
        <div class="login">
          <input id="getUsername" type="text" placeholder="username" name="user"><br>
          <input id="getPassword" type="password" placeholder="password" name="password"><br>
          <input type="button" value="Login" id="login">
          <br>
          <h3>Welcome</h3>
    </div> 
  </span>
</body>