<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ style('css/login') }}
    <title>Login</title>
    {{ script('js/jquery') }}
    <link rel="icon" href="{{ assetsUrl('icon.png') }}" />
    <script type="text/javascript">

    </script>
</head>
<body>
<span id="main">
    <div class="body"></div>
        <div class="grad"></div>
        <div class="header">
            <div>Online<span>Player</span></div>
        </div>
        <br>
        <form class="login" action="#" method="get">
          <input id="getUsername" type="text" placeholder="username" name="user"><br>
          <input id="getPassword" type="password" placeholder="password" name="password"><br>
          <button type="submit" id="login">Login</button>
          <h3>Welcome</h3>
        </form>
    </div> 
  </span>
</body>